/* Add your custom extension styling here */

.ext_icon {
  background-image: url("assets/ext_icon.png");
  background-size: 15px;
  height: 18px;
  width: 18px;
}

.bg-color {
  background-color : gold;
}
